
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:wght@100..900&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #243683;
    font-weight: 600px;
}

a:hover{
    text-decoration: underline #6415ff;
    transition: all 300ms ease;
}

button{
    cursor: pointer;
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
    font-weight: bold;
}

button:hover{
    background-color:  #480fbb;
}

.container{
    padding: 48px 16px;
    
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.purple{
        color: #6415ff;
}


h1{
    font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
}

p{
    font-size: 16px;
    margin: 32px 0;
    line-height: 1.5;
    color: #243683;
}

h4{
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
        font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

img{
    pointer-events: none;
}

.section__para{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.no__cursor{
    cursor: not-allowed;
}

/*

NAVIGATION

*/

nav{
    display: flex;
    padding: 0 32px;
}

.logo__title{
    display: flex;
    align-items: center;
}

.logo--header{
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.logo{
        height: 40px;
    width: 40px;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px 16px;
    max-width: 1200px;

}

.ul__nav{
    display: flex;
    align-items: center;
    list-style: none;
}

 
li{
    margin: 0 24px;
}


/* 
NAV HAMBURGER

*/

.btn__menu{
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 40px;
    color: #6415ff;
    display: none;
    padding: 24px,
}

.btn__menu:hover{
    background-color: white;
    color: #480fbb;
}

.menu__backdrop{
    position: fixed;
    background-color: #ffff;
    top: 0;
    left: 0;
    z-index: 100;
    inline-size: 100vw;
    block-size: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu__list{
    padding: 12px 0;
    font-size: large;
}

.menu__link{
    color: #242424;
    font-size: 24px;

}

.menu__btn{
    color: #ffff;
    padding: 12px;
    font-size: 24px;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
}


/*

HEADER

*/

.header__container{
    display: flex;
    inline-size: 100%;
}

.header_description{
    display: flex;
    flex-direction: column;
    inline-size: 50%;
}

.header__email{
     width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
        z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
     background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;}

  .header__customers{
    margin-top: 16px;
    opacity: 0.5;
    size: 25%;
  }

  .header__illustration{
    inline-size: 50%;
    padding-left: 5%;
  }

  

  /*

    FEATURES
    
    */  

    .row__narrow{
        width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    }

    .features__header{
        display: flex;
       flex-direction: column;
       text-align: center;
       padding: 0 10%;
    }

    .features__header--para{
        font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding: 0 20%;
    }

 .features--wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }

   .feature{
    display: flex;
    justify-content: start;
    inline-size: calc(100%/3);
   }

   .feature__row{
    display: flex;
    }

   .feature__img--wrapper{
    display: flex;
   align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    padding: 20px;
    margin-bottom: 80%;
   }

    .feature__text{
        display: flex;
        flex-direction: column;
    }

    .feature__para{   
         margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__title{
    font-size: 1.5em;
   padding-left: 20px;
   font-weight: bold;
}

  /*

  QUALITY WORK

  */

  .quality__work{
    display: flex;
    align-items: center;
  }

.quality__work--text, .quality__img {
    inline-size: 50%;
}


.quality__work--text{
    inline-size: 50%;
    padding-right: 50px;
}

/*

STEPS

*/

.steps__img--wrapper{
    inline-size: 50%;
}

.steps__img{
    inline-size: 100%;
    padding-inline-end: 10%;
}

.steps--text{
    inline-size: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 32px 64px;
}

.steps{
    display: flex;
    align-items: center;
}

.step{
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title{
font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.values__img{
 inline-size: 90%;
}



.values__list{
   margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.fa-dollar-sign{
color: rgb(13, 82, 39); 
background-color: rgb(41, 209, 41);
 border-radius: 50%;
}

.fa-solid.fa-briefcase{
   color: rgb(152, 39, 39);
   background-color: #feb2b2;
   border-radius: 50%;
}

.values{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
 
.value__title{
    margin: 32px 32px 0 0;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    display: flex;
    
}

.value__para{
        margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    margin-inline-end: 25%;
    font-size: 16px;
    
}

.values__btn{
    margin: 32px 0 0 0;
}

/*

PRICING

*/



.plans{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}



.plan{
    border: 1px solid #7c8ba13a;
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
}


.pricing__text{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__stripe{
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;    
}


.plan__name{
    font-size: 20px;
}

.plan__price{
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration{
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__middle{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    border-block-start: 1px solid rgba(128, 128, 128, 0.286);;
     border-bottom: 1px solid rgba(128, 128, 128, 0.286);
}

.plan__target{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #1a202c;
}

.plan__feature{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.plan__button{
    border-radius: 0.25rem;
     background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 50px;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;
    padding-block: 1rem;

    
}

.plan:nth-child(2){
        background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
        color: #ffff;
}


.plan:nth-child(2) .plan__middle .plan__feature, .plan:nth-child(2) .plan__target{   
    color: #ffff;
    }

.plan:nth-child(2) .plan__middle{
       border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}
  

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/
.testimonials{
    display: flex;
    align-items: center;
}

.testimonials__text{
    inline-size: 80%;
}

.testimonial__img{
   inline-size: 40%;
   padding-inline-end: 64px;
    
}


.fa-solid{
    color: rgb(246 173 85);
}

.testimonial__title{
color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}



.testimonial__bottom{
    display: flex;
    justify-content: space-between;
}

.testimonial__profile--img{
    inline-size: 15%;
    border-radius: 50%;
    margin-inline-end: 24px;
}

.testimonial__profile{
    display: flex;
    align-items: center;
    
}

.testimonial__name{
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role{
        color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.testimonial__details{
    justify-content: center;
}

.testimonial__buttons{
    display: flex;
}

.testimonial__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__btn:hover{
    cursor: pointer;
    transition: 300ms ease;
    background-color:  #d3dee9;
}

.fa-arrow-left, .fa-arrow-right{
    color: #6415ff
}



/*

START

*/

#start .row {
    position: relative;
    overflow: hidden;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
}


.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    margin-inline-start: 24px;
    margin-block-end: 24px;
}

.start__buttons{
display: flex;
justify-content: flex-end;
margin-inline-start: 48px;
max-inline-size: 1024px;
}

.start__btn{
background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms 
    ease;
    padding: 10px 80px;
    margin-block-end: 24px;
    font-size: 16px;
    display:;
}

.start__btn:hover{
    cursor: pointer;
    transition: 300ms ease;
    background: #e74f4f;
}

.contact__btn:hover{
 cursor: pointer;
    transition: 300ms ease;
    background-color: #ffffffd4
}


.contact__btn{
border: 1px solid rgb(160, 174, 192);
    transition: all 300ms 
ease;
padding: 10px 80px;
margin-inline-end: 24px;
margin-bottom: 24px;
font-size: 16px;
}

/*

FOOTER

*/

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}


footer{
       padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row{
    display: flex;
    flex-direction: column;
}

.footer__columns {
    display: flex;
    inline-size: 100%;
    justify-content: space-between;
    margin-top: 48px;
    flex-wrap: wrap;
    
}

.footer__column{
    display: flex;
   align-items: center;
    flex-direction: column;
    z-index: 2;
    margin: 24px;
}

.footer__title{
    color: #f7fafc;
    line-height: 1.5;
    font-weight: 700;
}

.column__link{
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__divider{
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__logo{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer__logo--img{
    block-size: 32px;
    inline-size: 32px;
   
}

.footer__logo--text{
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright{
    color: #cbd5e0;
    font-weight: 500;
    margin-block: 32px;
    margin-inline: 80px;
}



.fa-brands{
    background-color:#f7fafc;
    border-radius: 50%;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__copyright__socials--container{
    display: flex;
  align-items: center;
    justify-content: space-between;
    
}




/*

SMALL PHONES, TABLETS, LARGE PHONES

*/

@media (max-width: 1100px){
    .plans{
         text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
       inline-size: 100%;
    }
}


@media (max-width: 900px) {

     h2, h3, h4,.header__container, .feature__title, .feature__row, .features--wrapper, .quality__work, .quality__img, .steps, .testimonials, .steps__img,.step, .values, .start__container, .start__content, .start__buttons, .logo__copyright__socials--container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
       inline-size: 100%;
    }

    p{
        min-inline-size: 400px;
        text-align: center;
    }

    .section__para{
       min-inline-size: auto;

    }

    .header_description{
        inline-size: 100%;
    }

    .header__email{
        margin: 0 auto;
    }

    .header__email--input{
        position: absolute;
        text-align: center;
            padding-block: 10px;
            }

    .header__illustration{
                margin-block-start: 10%;
                inline-size: 70%;
                padding: 0px;
            }

    .header__customers--title{
                margin: 24px 0 0 0;
            }

    .features__header--para{
                padding: 0;
            }
            
    .feature__title{
                padding-left: 0px;
            }

    .feature__img--wrapper{
        margin: auto;
    }
            
    .quality__img, .steps__img, .testimonial__img{
        margin-block: 10%;
    }

      .quality__work--text{
        padding-right: 0px;
    }

  .steps__img{
        padding: 0;
    }

    .step__number{
        padding-block: 12px;
    }

    .plans, .plan{
       margin: 48px 0px;
        min-inline-size: 400px;
    }



.nav__links{
    display: none;
}


.btn__menu{
    display: block;
}

.testimonial__bottom, .testimonial__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__profile{
    margin-block-end: 48px;
}

.testimonial__btn{
    margin-right: 24px;
    
}



}